<html>
  <head>
    <title>Chitter</title>
  </head>
  <body>
    <div>
      <h1>Chitter</h1>
      <div>
        <% if @session_id.nil? %>
          <form action ="/signup" method="get">
            <input type="submit" value="Sign up!">
          </form>
          <form action="/login" method="get">
            <input type="submit" value="Log in!">
          </form>
        <% else %>
          <form action="/logout" method="get">
            <input type="submit" value="Log out">
          </form>
        <% end %>
        
      </div>
    </div>
    <form action="/" method="POST">
      <input type="text" placeholder="What's on your mind?" required="required" name="peep">
      <input type="submit" value="Send">
    </form>
    <% if !@peeps.nil? %>
      <% @peeps.each do |peep| %>
        <div>
          <strong><%= peep.author_name %></strong><br>
          <%= peep.content %><br>
          <%= peep.date %>, <%= peep.time %>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
