<html>
  <head>
    <title>Chitter - Log in</title>
  </head>
  <body>
    <div>
      <h1>Log in to Chitter!</h1>
      <div>
        <form action ="/signup" method="get">
          <input type="submit" value="Sign up!">
        </form>
      </div>
    </div>
    <% if defined?(@login_message) != nil %>
      <p><%= @login_message %></p>
    <% end %>
    <form action="/login" method="POST">
      <input type="text" placeholder="Enter username or email" required="required" name="login_name">
      <input type="text" placeholder="Password" required="required" name="password">
      <input type="submit" value="Log in!">
    </form>
  </body>
</html>
