<html>
  <head>
    <title>Chitter - Sign up</title>
  </head>
  <body>
    <div>
      <h1>Sign up for Chitter!</h1>
      <div>
        <form action ="/login" method="get">
          <input type="submit" value="Log in!">
        </form>
      </div>
    </div>
    <form action="/signup" method="POST">
      <input type="text" placeholder="Name" required="required" name="name">
      <input type="text" placeholder="Email" required="required" name="email">
      <input type="password" placeholder="Password" required="required" name="password">
      <input type="submit" value="Sign up!">
    </form>
  </body>
</html>
